apiVersion: cli.kyverno.io/v1alpha1
kind: Values
policies:
- name: restrict-secrets-by-label
  rules:
  - name: secrets-lookup-from-env
    values:
      status: demo
  - name: secrets-lookup-from-envfrom
    values:
      request.operation: UPDATE
      status: protected
  - name: secrets-lookup-from-volumes
    values:
      status: bar
