resources:
  - disallow-capabilities/disallow-capabilities.yaml
  - disallow-host-namespaces/disallow-host-namespaces.yaml
  - disallow-host-path/disallow-host-path.yaml
  - disallow-host-ports/disallow-host-ports.yaml
  - disallow-host-process/disallow-host-process.yaml
  - disallow-privileged-containers/disallow-privileged-containers.yaml
  - disallow-proc-mount/disallow-proc-mount.yaml
  - disallow-selinux/disallow-selinux.yaml
  - restrict-apparmor-profiles/restrict-apparmor-profiles.yaml
  - restrict-seccomp/restrict-seccomp.yaml
  - restrict-sysctls/restrict-sysctls.yaml
  