name: Policy Test

on:
  push:
    branches:
      - main
      - release*
  pull_request:
    branches:
      - main
      - release*

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab
        with:
          path: policies

      - name: Clone Kyverno
        uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab
        with:
          repository: kyverno/kyverno
          path: kyverno
          # The target branch of a pull request or the branch/tag of a push
          ref: ${{ github.base_ref || github.ref_name }}

      - name: Set up Go 
        uses: actions/setup-go@4d34df0c2316fe8122ab82dc22947d607c0c91f9
        with:
          go-version: "1.20"
      
      - name: Checkout kyverno/policies
        uses: actions/checkout@v2
        with:
          repository: kyverno/policies

      - name: Validate all policies
        run: |
          #!/bin/bash
          set -euo pipefail

          # Loop through each policy directory in the repository
          for policy_dir in $(find "$GITHUB_WORKSPACE" -type d ! -name '.*' ! -path '*/\.*'); do
            # Skip the root directory
            if [[ "$policy_dir" == "$GITHUB_WORKSPACE" ]]; then
              continue
            fi
            
            # Skip directories that contain subdirectories
            if find "$policy_dir" -mindepth 1 -type d -print -quit | read; then
              # If it does, skip the filename validation
              continue
            fi

            # Get the name of the directory
            dir_name=$(basename "$policy_dir")

            # Check if the directory name only contains alphanumeric characters and dashes
            if [[ ! $dir_name =~ ^[a-zA-Z0-9-]+$ ]]; then
              echo "Directory $dir_name contains invalid characters. Only alphanumeric characters and dashes are allowed."
              exit 1
            fi

            
            # Check if a .yml or .yaml file with the same name as the directory exists in the directory
            if [[ ! -f "$policy_dir/$dir_name.yml" ]] && [[ ! -f "$policy_dir/$dir_name.yaml" ]]; then
              echo "No .yml or .yaml file named $dir_name found in directory $policy_dir"
              exit 1
            fi

            # Validate that artifacthub-pkg.yml or artifacthub-pkg.yaml file is found in the same folder as the policy
            if [[ ! -f "$policy_dir/artifacthub-pkg.yml" ]] && [[ ! -f "$policy_dir/artifacthub-pkg.yaml" ]]; then
              echo "artifacthub-pkg.yml or artifacthub-pkg.yaml file is not found in the same folder as the policy in directory $policy_dir"
              exit 1
            fi
          done

      - name: Test Policy
        run: go run ./cmd/cli/kubectl-kyverno test ../policies
        working-directory: kyverno
    
      
      
      