name: Kuttl Tests

permissions: {}

on:
  workflow_dispatch: {}
  pull_request:
    branches:
        - 'main'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        k8s-version:
          - name: v1.25
            version: v1.25.11
          - name: v1.26
            version: v1.26.6
          - name: v1.27
            version: v1.27.3
          - name: v1.28
            version: v1.28.0
        tests:
          - argo
          - aws
          - best-practices
          - castai
          - cert-manager
          - consul
          - external-secret-operator
          - flux
          - istio
          - karpenter
          - kasten
          - kubecost
          - kubeops
          - kubevirt
          - linkerd
          - nginx-ingress
          - openshift
          - other/a
          - other/b-d
          - other/e-l
          - other/m-q
          - other/rec-req
          - other/res
          - other/s-z
          - pod-security
          - psa
          - psp-migration
          # - tekton
          # - traefik
          # - velero
    runs-on: ubuntu-latest
    name: ${{ matrix.k8s-version.name }} - ${{ matrix.tests }}
    steps:
      - name: Checkout
        uses: actions/checkout@3df4ab11eba7bda6032a0b82a6bb43b11571feac # v4.0.0
      - name: Setup Go
        uses: actions/setup-go@93397bea11091df50f3d7e59dc26a7711a8bcfbe # v4.1.0
        with:
          go-version: ~1.21.1
      - name: Install Tools
        run: |
          GOBIN=$(pwd)/.tools/ go install sigs.k8s.io/kind@v0.19.0
          GOBIN=$(pwd)/.tools/ go install github.com/kyverno/kuttl/cmd/kubectl-kuttl@main
          curl -LO "https://dl.k8s.io/release/${{ matrix.k8s-version.version }}/bin/linux/amd64/kubectl"
          sudo install -o root -g root -m 0755 kubectl /usr/local/bin/kubectl
      - name: Install latest Kyverno CLI
        uses: kyverno/action-install-cli@fcee92fca5c883169ef9927acf543e0b5fc58289 # v0.2.0
      - name: Create kind cluster
        run: |
          ./.tools/kind create cluster --image kindest/node:${{ matrix.k8s-version.version }} --config ./.github/kind.yml
      - name: Install latest kyverno
        run: |
          kubectl create -f https://github.com/kyverno/kyverno/raw/main/config/install-latest-testing.yaml
      - name: Wait for kyverno ready
        run: |
          kubectl wait --namespace kyverno --for=condition=ready pod --selector '!job-name' --timeout=60s
      - name: Test with kuttl
        run: |
          ./.tools/kubectl-kuttl test ./${{ matrix.tests }} --config ./kuttl-test.yaml
